* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
}

.calculator {
  display: flex;
  margin: auto;
  background-color: slategray;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
}

.calculator {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas:
    'display display display display'
    'reset reset backspace divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero zero equals'
}


.display {
  grid-area: display;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
  font-size: 30px;
  padding: 5px;
  border: 4px double #575353;

}

button {
  height: 100%;
    padding: 20px;
    text-align: center;
    border: 4px double #cccccc;
    font-size: 28px;
    cursor: pointer;
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s; /* add this line */
}

button:hover {
  background-color: darkgray;
}

.button:active {
  background-color: darkslategrey;
}

.orange {
  background-color: coral
}

.orange:hover {
  background-color: #dfb07e;
}

.row {
  width: 20vh;
  display: flex;
}

.reset {
  grid-area: reset;
}

.backspace {
  grid-area: backspace;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.zero {
  grid-area: zero;
}

.equals {
  grid-area: equals;
}