* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
}

.calculator {
  display: flex;
  margin: auto;
  background-color: slategray;
  flex-direction: column;
  align-items: center;
}

.calculator {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas:
    'display display display display'
    'reset reset backspace divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero zero equals'
}


.display {
  grid-area: display;
  display: flex;
  justify-content: right;
}

.row {
  width: 20vh
}

.reset {
  grid-area: reset;
}

.backspace {
  grid-area: backspace;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}

.three {
  grid-area: three;
}